body {
  display: block;
  margin: 8px;
  font-family: Roboto;
}

.top {
  background-color: #1F2937;
  display: flex;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.top-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.header {
  font-size: 24px;
  color: #F9FAF8
}

.header-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.middle {
  display: flex;
}

.quote {
  display: flex;
}

.bottom {
  display: flex;
}

footer {
  background-color: #1F2937;
}