body {
  display: block;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;
}

.top {
  background-color: #1F2937;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  font-size: 24px;
  color: #F9FAF8
}

.header-subtext {
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.container-left {
  flex-wrap: wrap;
  padding: 100px;
  flex: 1;
  width: 100px;
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.top-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.middle {
  display: flex;
}

.middle-subtext {
  list-style-type: none;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  color: #1F2937
}

a {

}

.bottom {
  display: flex;
}

footer {
  background-color: #1F2937;
  font-size: 18px;
  color: #E5E7EB;
  display: flex;
  align-items: center;
  justify-content: center;
}